@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.our-team ::-webkit-scrollbar {
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

ul {
  list-style: none;
}

body {
  position: relative;
  background-color: #0d0909;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 1980px;
  margin: auto;
}

body::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('./images/pngLine-v.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background-position: 40px;
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('./images/pngLine.png');
  background-position: center 59px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

.anton-text {
  font-family: 'Anton', sans-serif !important;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -5px;
}

.container {
  width: 1980px;
  padding: 0 40px;
}

header {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: space-between;
  padding-top: 26px;
  color: #fff;
  display: flex;
}

header ul {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 500px;
  position: relative;
  z-index: 10;
}

header a,
header .logo {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 500ms linear;
}

header a:hover {
  color: #b90090;
  transition: all 500ms linear;
}

.bear-pazle {
  position: absolute;
  top: -61px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

/* HERO*/
.hero {
  padding-top: 20px;
  position: relative;
  height: 1415px;
  color: #fff;
}

.sweet-bears text {
  z-index: 20;
  position: relative;
}
.rlater {
  position: absolute;
  top: 23px;
  right: 236px;
}

.claw-containet-hero {
  right: 244px;
  position: absolute;
  top: 50px;
  height: 0;
  overflow: hidden;
  animation: claw-hero 500ms linear forwards;
  animation-delay: 100ms;
}

@keyframes claw-hero {
  0% {
    height: 0; /* Початкова позиція картинки */
  }
  100% {
    height: 153px; /* Кінцева позиція картинки */
  }
}

.in-future {
  color: #ff00c7;
  letter-spacing: 0;
  position: absolute;
  width: 210px;
  font-size: 40px;
  right: 63px;
  bottom: 396px;
}

.primal-elipse {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10px);
  z-index: 1;
  width: 1980px;
  top: 0;
  animation: elipse 2000ms infinite linear forwards;
}

@keyframes elipse {
  0% {
    transform: translate(-50%, 10px) scale(1.1); /* Початкова позиція картинки */
  }
  50% {
    transform: translate(-50%, 10px) scale(0.8); /* Кінцева позиція картинки */
  }
  100% {
    transform: translate(-50%, 10px) scale(1.1);
  }
}

.primal-bear {
  position: absolute;
  top: -61px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.primal-bear-1 {
  opacity: 0;
  position: absolute;
  bottom: 2px;
  z-index: 3;
  left: 544px;
  animation: pazle 500ms linear forwards;
  animation-delay: 600ms;
}

.primal-bear2 {
  opacity: 0;
  position: absolute;
  top: -61px;
  left: 924px;
  z-index: 4;
  width: 589px;
  animation: pazle 500ms linear forwards;
  animation-delay: 500ms;
}
.primal-bear3 {
  opacity: 0;
  bottom: 1px;
  position: absolute;
  z-index: 4;
  left: 881px;
  width: 479px;
  animation: pazle 500ms linear forwards;
  animation-delay: 400ms;
}

.primal-bear4 {
  position: absolute;
  opacity: 0;
  left: 389px;
  top: -61px;
  z-index: 4;
  width: 535px;
  animation: pazle 500ms linear forwards;
  animation-delay: 300ms;
}

.primal-bear6 {
  position: absolute;
  opacity: 0;
  top: 495px;
  left: 874px;
  z-index: 4;
  width: 637.5px;
  animation: pazle 500ms linear forwards;
  animation-delay: 200ms;
}

.primal-bear7 {
  position: absolute;
  opacity: 0;
  left: 389px;
  z-index: 4;
  bottom: 290px;
  width: 486.5px;
  animation: pazle 500ms linear forwards;
  animation-delay: 100ms;
}

@keyframes pazle {
  0% {
    opacity: 0; /* Початкова позиція картинки */
  }
  100% {
    opacity: 1; /* Кінцева позиція картинки */
  }
}

.invest-container {
  position: absolute;
  top: 871px;
  left: 1425px;
  height: 228px;
  width: 543px;
  z-index: 3;
}

.invest-plate {
  height: 100%;
  transition: all 700ms;
  height: 228px;
  width: 450px;
}

.invest-back img {
  width: 450px;
}

.front-invest {
  width: 450px;
  transition: width 500ms linear;
  overflow: hidden;
}

.invest-container:hover .front-invest {
  width: 200px;
  overflow: hidden;
  transition: all 300ms linear;
}

.invest-back {
  width: 450px;
  height: 233px;
  right: -406px;
  bottom: 37px;
}

.back-invest {
  position: absolute;
  top: 25px;
  margin-top: -29px;
  right: 115px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
  transition: width 400ms linear, right 400ms linear,
    opacity 400ms cubic-bezier(1, 0, 1, 0);
}

.invest-container .back-invest::after {
  content: '';
  display: block;
  width: 9px;
  height: 93%;
  opacity: 0;
  background: linear-gradient(
    90deg,
    rgba(27, 27, 27, 1) 0%,
    rgba(227, 227, 227, 1) 47%,
    rgba(93, 93, 93, 1) 100%
  );
  position: absolute;
  top: 5px;
  right: 0;
  transition: opacity 300ms linear;
}

.invest-container:hover .back-invest::after {
  opacity: 1;
  transition: opacity 300ms linear;
}

.invest-container:hover .back-invest {
  width: 250px;
  margin-top: -29px;
  overflow: hidden;
  right: 343px;
  transition: width 400ms linear, right 400ms linear, opacity 100ms linear;
  opacity: 1;
}

.invest-container:hover .back-invest::after {
  opacity: 1;
  transition: opacity 300ms linear;
}

.welcome-text {
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 454px;
  top: 444px;
  right: 0;
  text-align: justify;
  size: 18px;
}

.culture-text {
  position: absolute;
  top: 904px;
  width: 453px;
  font-weight: 600;
  font-size: 24px;
  z-index: 2;
  background: linear-gradient(180deg, #fff 30%, #656565 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.background-top {
  margin-top: -95px;
  position: absolute;
  z-index: 2;
  left: -40px;
  width: 1980px;
}

.background-bottom {
  margin-left: -40px;
  width: 1990px;
}

/* welcome */

.welcome {
  position: relative;
}

.welcome * {
  z-index: 4;
}

.our-goal {
  color: #000000;
  position: absolute;
  top: 150px;
  left: 20px;
  width: 465px;
  display: flex;
  justify-content: space-between;
}

.welcome-claw {
  position: absolute;
  left: 500px;
  top: 20px;
  height: 0;
  overflow: hidden;
}

.welcome-claw.show {
  height: 303px;
  transition: all 1500ms;
  transition-delay: 600ms;
}

.welcome-title {
  position: absolute;
  top: 150px;
  right: 0;
  width: 1517px;
  font-size: 220px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -8px;
  line-height: 220px;
}

.welcome-title > span {
  display: block;
  overflow: hidden;
}

.welcome-title span span.inside {
  transform: translate(0, 210px);
  display: block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.welcome-title span .inside1 {
  background: linear-gradient(180deg, #0d0909 30%, #404040 95%);
}
.welcome-title span.inside2 {
  background: linear-gradient(180deg, #414141 30%, #585858 95%);
}
.welcome-title span.inside3 {
  background: linear-gradient(180deg, #585858 30%, #656565 95%);
}

.welcome-title span span.visible {
  transform: translate(0, 0px);
  display: block;
  transition: transform 1000ms ease-in-out;
}

.welcome-bottom-text {
  color: #000;
}

.welcome-bottom-text .realm {
  position: absolute;
  bottom: 380px;
  width: 469px;
  font-size: 18px;
  font-weight: 600;
  height: 102px;
}

.welcome-bottom-text .realm span {
  width: calc(469px);
  position: absolute;
  margin-left: auto;
  transform: rotate(1deg);
  display: inline-block;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

  opacity: 0;
}

.welcome-bottom-text .realm span:nth-child(1) {
  top: 0;
}
.welcome-bottom-text .realm span:nth-child(2) {
  top: 25px;
}
.welcome-bottom-text .realm span:nth-child(3) {
  top: 50px;
}
.welcome-bottom-text .realm span:nth-child(4) {
  top: 75px;
}

.welcome-bottom-text .exactly-line span {
  transform: rotate(0deg);
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: opacity 800ms linear, transform 800ms linear,
    background 800ms linear;
}

.welcome-bottom-text .realm span:nth-child(1) {
  transform-origin: center left;
}
.welcome-bottom-text .realm span:nth-child(2) {
  transition-delay: 200ms;
  transform-origin: center left;
}
.welcome-bottom-text .realm span:nth-child(3) {
  transition-delay: 400ms;
  transform-origin: center left;
}
.welcome-bottom-text .realm span:nth-child(4) {
  transition-delay: 600ms;
  transform-origin: center left;
}

.welcome-bottom-text .our-items {
  position: absolute;
  display: flex;
  width: 470px;
  justify-content: space-between;
  bottom: 320px;
  width: 469px;
  font-size: 18px;
}

.welcome-second {
  position: absolute;
  color: rgb(0 0 0 / 10%);
  width: 294px;
  font-size: 18px;
  right: 487px;
  bottom: -206px;
}
/* welcome */

/* starf */

.starf {
  padding-top: 445px;
  position: relative;
}
.starf-title-text {
  position: absolute;
  display: block;
  height: 260px;
  top: 190px;
  background: linear-gradient(180deg, #ff00c7 8%, #0d0909 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 268px;
  line-height: 268px;
  text-transform: uppercase;
  margin-bottom: -15px;
  overflow: hidden;
  display: flex;
  overflow: hidden;
}

.letter {
  display: inline-block;
  margin-top: 190px;
}

.show {
  margin-top: 0;
  transition: margin-top 500ms linear;
}

.marquee-infinite {
  color: #fff;
  width: 1980px;
  margin-left: -40px;
  margin-bottom: 100px;
  margin-top: -53px;
  height: 58px;
  overflow: hidden;
}

.marquee-infinite div {
  display: flex;
  width: 200%;
  animation: marquee 3s linear infinite;
}

.marquee-infinite div h1 {
  white-space: nowrap;
  width: 100%;
  border-bottom: 1px solid #ec01b9;
  background: linear-gradient(to bottom, #ff00c7, #0f0c0c);
  background-color: #000;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
  z-index: 24;
  position: absolute;
  transition: background-color 500ms linear;
  cursor: pointer;
}

.marquee-infinite div h1::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  z-index: -1;
  transition: background-color 500ms linear;
}

#video-container {
  margin: 0 auto;
  position: absolute;
  right: 275px;
  bottom: 2px;
  width: 350px;
  z-index: 5;
}
.marquee-infinite div h1:hover::before {
  background-color: transparent; /* Прозорий фон при наведенні */
  transition: background-color 500ms linear;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-5.75%);
  }
}

.swiper {
  width: 1980px;
  margin-left: -40px !important;
  overflow: hidden !important;
}
.mySwiper .swiper-wrapper {
  height: 860px !important;
  margin-left: -80px;
  transform: translate3d(-1340px, 0px, 0px);
}

.mySwiper .swiper-slide {
  width: 547px;
  transform-origin: top center;
  height: 0px !important;
  overflow: hidden !important;
  transition: transform 500ms linear, height 1000ms linear !important;
  transition-delay: 1s;
}

.mySwiper .swiper-slide.show-slide {
  height: 100% !important;
}

.mySwiper .swiper-slide img {
  width: 547px;
  transition: transform 1000ms linear;
  transform-origin: top center;
}

.mySwiper .swiper-slide-next {
  transform: scale(1.8) !important;
  transform-origin: top center;
  margin-right: 125px !important;
  transition: transform 500ms linear;
}

.mySwiper .swiper-slide-active {
  margin-right: 200px !important;
}

.pagination-claw.swiper-button-next,
.pagination-claw.swiper-button-prev {
  width: auto !important;
  top: unset !important;
  bottom: 20px !important;
}

.swiper-button-prev {
  left: 45% !important;
}

.swiper-pagination {
  display: none;
}

.pagination-claw {
  position: absolute;
  bottom: -104px;
  left: 45%;
}

.pagination-claw.pagination-claw.right {
  transform: rotate(180deg);
  left: 52%;
}

.starf-paginations {
  position: absolute;
  bottom: 9px;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, 0);
  color: #5f5f5f;
  letter-spacing: 0;
}

.current-page {
  font-size: 45px;
  color: #fff;
}

.stare-claw {
  position: absolute;
  z-index: 5;
  top: 370px;
  transform: rotate(178deg);
  left: 369px;
  width: 418px;
}

/* <!-- YEARS --> */

.years {
  padding-top: 200px;
  position: relative;
  height: 937px;
}

.road-map {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
}

.years-hight-text {
  width: 456px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.1);
  margin-left: auto;
  margin-top: 160px;
  font-size: 18px;
  text-transform: lowercase;
}

.years-ellipse {
  width: 900px;
}

.years-count {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 180px;
}

.text-year,
.q,
.text-year-left {
  position: absolute;
  letter-spacing: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  opacity: 0;
  color: #fff;
  transition: opacity 300ms linear;
}

.slide .q {
  left: -115px;
  top: 40px;
  font-size: 36px;
  opacity: 0;
}

.primal-slide .q {
  opacity: 1;
}

.text-year-left {
  left: -660px;
  bottom: -300px;
  width: 439px;
}

.text-year {
  bottom: -300px;
  width: 363px;
  color: #fff;
  left: 800px;
  text-align: right;
  width: 439px;
}

.primal-slide .text-year-left,
.primal-slide .text-year {
  font-family: 'Manrope', sans-serif;
  opacity: 1;
  color: #fff;
  letter-spacing: 0;
  width: 439px;
  display: block;
  font-weight: 200;
}

.years-slider {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -400px);
  height: 600px;
  width: 800px;
  cursor: default;
}

.years-slider .years-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 300ms linear;
}

.years-slider .year {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #3e3e3e 30%, #0d0909 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(4px);
  transition: filter 500ms linear, font-size 300ms linear,
    line-height 300ms linear;
  font-size: 180px;
  line-height: 180px;
  width: 572px;
  text-align: center;
}

.years-slider .start-slide .year {
  background: linear-gradient(180deg, #3e3e3e 6%, #0d0909 72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
}

.years-wrapper .slide {
  opacity: 0;
  display: inline-block;
  transition: opacity 300ms linear;
  position: relative;
  width: 572px;
}

.years-wrapper .primal-slide {
  margin-top: -12px;
  margin-bottom: -10px;
  position: relative;
  opacity: 1;
}

.years-wrapper .start-slide,
.years-wrapper .next-slide {
  opacity: 1;
}
.years-slider .primal-slide .year {
  background: linear-gradient(180deg, #c20799 42%, #0d0909 121%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
  font-size: 300px;
  filter: blur(0px);
  line-height: 300px;
  margin-top: -16px;
  margin-bottom: -16px;
}

/* <!-- YEARS --> */

/* <!-- our-team --> */
.our-team {
  display: flex;
  overflow: hidden;
  padding-top: 300px;
  height: 1750px;
  position: relative;
  margin-right: -40px;
}

.meet-our-team {
  text-transform: uppercase;
  width: 1053px;
  font-size: 300px;
  padding-top: 600px;
  height: 600px;
  transform: rotate(-90deg) translate(-224px, -945px);
  position: absolute;
  background: linear-gradient(180deg, #fff 0%, #656565 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  line-height: 300px;
  user-select: none;
  transition: padding 500ms linear;
}

.meet-our-team-show {
  padding-top: 0px;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  width: 1980px;
  overflow-x: auto;
  padding-left: 700px;
  position: relative;
  height: 1160px;
  padding-top: 40px;
  pointer-events: none;
}

.team-list.team-list-allow {
  pointer-events: all;
}

.team-list .allow {
  pointer-events: all;
}

.team-list li {
  width: 664px;
  flex-shrink: 0;
  overflow: hidden;
  height: 0;
  padding: 0 30px;
  background-color: #fff;
  margin-right: 40px;
  transform: perspective(5000px) rotateY(0deg);
  cursor: pointer;
  transition: background-color 300ms linear, transform 500ms linear,
    height 500ms linear;
}

.team-list li.show-li {
  padding: 30px 30px 0 30px;
  height: 1035px;
}

.team-list .back-page {
  margin-left: -704px;
  transform: perspective(5000px) rotateY(90deg) !important;
}

.team-list .rotate {
  transform: perspective(5000px) rotateY(0deg) !important;
  transition: transform 500ms 500ms linear;
}

.back-page p {
  width: 604px;
}

.team-list .rotate-front {
  transform: perspective(5000px) rotateY(-90deg);
}

.team-list .rotate-front-from-back {
  transform: perspective(5000px) rotateY(0deg);
  transition: background-color 300ms linear, transform 500ms 500ms linear;
}

.rotate-back {
  transform: perspective(5000px) rotateY(100deg);
}

.back-page span {
  display: block;
  text-align: center;
  font-size: 65px;
  width: 610px;
}

.team-list li:last-child {
  margin-right: 0;
}

.team-list li:nth-child(6) {
  margin-right: 0;
}

.team-list li:hover {
  background-color: #ff00c7;
}

.team-list li:hover .teams-infinity {
  color: #ff00c7;
  background: #fff;
  transition: all 300ms linear;
}

.title-position {
  font-size: 140px;
  line-height: 140px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.text-position {
  height: 62px;
  align-items: end;
  text-align: center;
  letter-spacing: 0;
  line-height: 62px;
  text-transform: uppercase;
}

.title-position {
  margin-bottom: 30px;
}

.img-container {
  margin-bottom: 30px;
}

.name {
  font-size: 60px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 20px;
}

.marquee-infinite-position {
  color: #fff;
  width: calc(100% + 60px);
  margin-left: -30px;
  background: #7b7b7b;
  overflow: hidden;
  transition: all 300ms linear;
}

.teams-infinity {
  margin-top: 32px;
}
.marquee-infinite-position div {
  display: flex;
  width: 200%;
  animation: marquee-text 2s linear infinite;
}

.marquee-infinit-positione div h1 {
  white-space: nowrap;
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #ec01b9;
  margin-top: -53px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
}

.name::after {
  content: ']';
  position: absolute;
  right: 30px;
}

.back-page {
  background-color: #000 !important;
  color: #fff;
}

.back-page span {
  font-size: 140px;
  line-height: 140px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  text-align: left;
}

.back-page h3 {
  letter-spacing: 0;
  font-size: 60px;
  text-align: left;
  line-height: 60px;
}

.contact-list-worker {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  overflow: hidden;
  width: 664px;
  background: #fff;
}

.contact-list-worker ul {
  padding-left: 30px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 16px;
}

.contact-list-worker li {
  padding: 0;
  margin: 0;
  height: 25px;
  width: auto;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0;
}

.contact-list-worker li a {
  text-decoration: none;
  color: #000;
  transition: color 300ms linear;
}

.contact-list-worker li a:hover {
  text-decoration: none;
  color: #ec01b9;
}

.contact-list-worker li:hover {
  background-color: #fff;
}

.contact-list-worker li:not(:last-child) {
  margin-right: 30px;
}

.flag-teams {
  width: 10px;
  height: 10px;
  background: transparent;
  position: absolute;
  bottom: 375px;
  left: 50%;
}

@keyframes marquee-text {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-13.4%);
  }
}

/* <!-- our-team --> */

/* FAQ */

.faq {
  position: relative;
  height: 2568px;
  padding-top: 960px;
}

.background-bear {
  position: absolute;
  top: -437px;
  z-index: -1;
}

.faq-text {
  background: linear-gradient(180deg, #ff00c7 8%, #0d0909 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
  font-size: 300px;
}

.elipse8 {
  width: 610px;
  margin-top: -450px;
  margin-left: -40px;
  position: absolute;
  z-index: -1;
}

.claw-faq {
  position: absolute;
  width: 300px;
  transform: rotate(138deg) translate(-251px, -204px);
}

.hidden-q {
  color: #fff;
  margin-left: 470px;
}

.hidden-q li {
  overflow: hidden;
  margin-bottom: 60px;
  pointer-events: none;
  height: 70px;
  transition: height 300ms linear;
  cursor: pointer;
  transform: rotate(5deg);
  transform-origin: left center;
  transition: height 300ms linear, transform 500ms linear;
}

.hidden-q p {
  width: 746px;
  font-size: 18px;
  line-height: 21.6px;
}

.hidden-q .open {
  height: 160px;
}
.hidden-q li h3 {
  font-size: 60px;
  line-height: 72px;
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0;
}

.hidden-q li h3.normal {
  transform: rotate(0deg);
  opacity: 1;
  transition: opacity 1s linear;
}
.hidden-q li.normal {
  transform: rotate(0deg);
  pointer-events: all;
}

.hidden-q h3::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 14px;
  background: linear-gradient(140deg, #b90090 76%, #0d0909 113%);
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.hidden-q h3::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 40px;
  background: linear-gradient(61deg, #b90090 71%, #0d0909 109%);
  right: 12px;
  top: 23%;
  transition: height 300ms linear, top 250ms linear;
}

.hidden-q .open h3::before {
  height: 0;
  top: 40%;
  transition: height 300ms linear, top 200ms linear;
}

.claw-thumb {
  width: 180px;
  height: 180px;
}

.claw-thumb div {
  width: 0;
  overflow: hidden;
  height: 180px;
  transition: width 1000ms linear;
}

.claw-thumb div.normal {
  width: 180px;
}

.claw-faq-2 {
  position: absolute;
  bottom: 320px;
  left: -81px;
  transform: rotate(-45deg);
}

.claw-faq-3 {
  position: absolute;
  bottom: 181px;
  left: 109px;
}

/* FAQ */

/* footer */

.footer {
  position: relative;
  display: flex;
}

.footer-background-top {
  width: 1980px;
  left: -40px;
  top: -65px;
  position: absolute;
  z-index: -1;
}

.footer-claw {
  width: 418px;
  position: absolute;
  left: 780px;
  top: 289px;
  transform: rotate(191deg);
  z-index: 1;
  margin: 0 !important;
}

.footer-claw .hidden-box {
  position: relative;
  overflow: hidden;
  width: 490px;
  height: 0;
}
.footer-claw .show-claw {
  height: 400px;
  transition: height 300ms 600ms linear;
}

.footer-claw img {
  width: 418px;
  position: absolute;
  bottom: 0;
}

.footer-title {
  font-size: 233px;
  line-height: 233px;
  width: 1085px;
  letter-spacing: -6px;
  /* background: linear-gradient(180deg, #fff 0%, #656565 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  letter-spacing: -6px;
}

.footer-title span {
  overflow: hidden;
  display: block;
}
.footer-title span span.inside {
  transform: translate(0px, 240px);
  display: block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.footer-title span span.inside.visible {
  transform: translate(0px, 0px);
  transition: transform 300ms linear;
}

.footer-title-one {
  background: linear-gradient(180deg, #ffffff 0%, #7d7d7d 100%);
}
.footer-title-second {
  background: linear-gradient(180deg, #7d7d7d 0%, #646464 100%);
}
.footer-title-three {
  background: linear-gradient(180deg, #646464 0%, #222222 100%);
}

.footer ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer div {
  margin-top: 50px;
}

.right-footer {
  margin-left: auto;
  position: relative;
}

.footer .go-line {
  position: absolute;
}

.foote-we {
  width: 453px;
  text-align: left;
  margin-left: auto;
  background: linear-gradient(180deg, #0d0909 0%, #656565 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.foote-we span {
  transform: rotate(5deg);
  transform-origin: left;
  display: block;
  opacity: 0;
}

.foote-we span.normal {
  opacity: 1;
  transform: rotate(0deg);
  transition: all 1s linear;
}

.discort {
  position: absolute;
  width: 580px;
  width: 581px;
  left: -123px;
  position: absolute;
  bottom: 0;
}
.footer div.marquee-infinite-footer {
  position: absolute;
  color: #fff;
  width: 1980px;
  margin-left: -30px;
  margin-bottom: 100px;
  background: #000000;
  overflow: hidden;
  bottom: -266px;
  margin: 0;
  margin-left: -40px;
  padding: 47px 0;
}

.marquee-infinite-footer div {
  display: flex;
  width: 200%;
  animation: marquee-text-footer 2s linear infinite;
  margin: 0;
}

.marquee-infinite-footer div h1 {
  text-transform: uppercase;
  letter-spacing: 0;
}

.discord-container {
  position: absolute;
  left: -123px;
  top: 480px;
  width: 490px;
  margin: 0 !important;
}

.discord-container div {
  margin: 0 !important;
}

.discord-container img {
  width: 490px;
}

.back-discord {
  width: 0;
  overflow: hidden;
}

.front-discord {
  width: 490px;
}

.back-discord {
  position: absolute;
  left: 490px;
  top: 0px;
  height: 210px;
  transition: all 500ms linear;
}

.front-discord {
  overflow: hidden;
  transition: all 500ms linear;
}

.discord-container:hover .front-discord {
  width: 200px;
}

.discord-container:hover .back-discord {
  left: -50px;
  width: 250px;
}

.discord-container .back-discord::after {
  content: '';
  display: block;
  width: 9px;
  height: 98%;
  opacity: 0;
  background: linear-gradient(
    90deg,
    rgba(27, 27, 27, 1) 0%,
    rgba(227, 227, 227, 1) 47%,
    rgba(93, 93, 93, 1) 100%
  );
  position: absolute;
  top: 2px;
  right: 0;
  transition: opacity 500ms linear;
}

.discord-container:hover .back-discord::after {
  opacity: 1;
  transition: opacity 500ms linear;
}

.in-discord {
  color: #ff00c7;
  letter-spacing: 0;
  position: absolute;
  width: 210px;
  font-size: 40px;
  right: 123px;
  bottom: 162px;
  z-index: -1;
}

.footer-navigation li {
  text-transform: uppercase;
}

.footer-navigation a {
  text-decoration: none;
  color: #000;
  transition: color 300ms linear;
}

.footer-navigation a:hover {
  color: #ff00c7;
}

@keyframes marquee-text-footer {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10.75%);
  }
}

/* footer */

/* preloader */
#preloader {
  z-index: 1;
  position: absolute;
}

.loader .claw-loader:nth-child(1) {
  position: absolute;
  top: 56px;
  left: -96px;
  transform: rotate(45deg);
}

.loader .claw-loader:nth-child(2) {
  position: absolute;
  top: -81px;
  left: 114px;
  transform: rotate(80deg);
}

.loader .claw-loader:nth-child(3) {
  position: absolute;
  top: 232px;
  left: 174px;
  transform: rotate(45deg);
}

.loader .claw-loader:nth-child(4) {
  position: absolute;
  top: 102px;
  left: 507px;
  transform: rotate(95deg);
}

.loader .claw-loader:nth-child(5) {
  position: absolute;
  top: 402px;
  left: 570px;
  transform: rotate(17deg);
}

.loader .claw-loader:nth-child(6) {
  position: absolute;
  top: 233px;
  left: 865px;
  transform: rotate(68deg);
}

.loader .claw-loader:nth-child(7) {
  position: absolute;
  top: 515px;
  left: 1120px;
  transform: rotate(13deg);
}

.loader .claw-loader:nth-child(8) {
  position: absolute;
  top: 286px;
  left: 1257px;
  transform: rotate(57deg);
}

.loader .claw-loader:nth-child(9) {
  position: absolute;
  top: 568px;
  left: 1519px;
  transform: rotate(-8deg);
}

.loader .claw-loader:nth-child(10) {
  position: absolute;
  top: 325px;
  left: 1698px;
  transform: rotate(36deg);
}

.loader .claw-loader:nth-child(11) {
  position: absolute;
  top: 618px;
  left: 1883px;
  transform: rotate(3deg);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.8;
    clip-path: circle(100% at 50% 50%);
  }
  100% {
    opacity: 0;
    clip-path: circle(0% at 50% 50%);
  }
}

.claw-loader {
  opacity: 0;
  animation-fill-mode: linear;
}

.claw-loader.appear {
  animation-name: appear;
  animation-duration: 1s; /* Тривалість з'явлення */
  animation-timing-function: ease; /* Плавне з'явлення */
}

/* Стилі для ефекту зникнення прелоадера */
@keyframes slideAndFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
